<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serpentes-ID SP</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='aparencia.css') }}">
</head>
<body>

<div class="container-index">
    <header>
        <div class="banner">
            
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('sobre') }}">Sobre</a>
            <a href="{{ url_for('identificacao') }}">Chaves</a>
            <a href="{{ url_for('sugestoes') }}">Sugestões</a>
        </nav>
    </header>

    <section class="hero">
        <div class="overlay">
            <h1>Identifique.</h1>
            <h1>Compreenda.</h1>
            <h1>Preserve.</h1>
            <p>Plataforma digital de chaves de identificação de serpentes do estado de SP, para biólogos, pesquisadores e entusiastas.</p>
            <button onclick="window.location.href='identificacao.html'">Iniciar identificação</button>
        </div>
    </section>
</div>

</body>
</html>