<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='aparencia.css') }}">
</head>
<body>

<div class="container-principal">
    <header>
        <div class="banner">
            
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('sobre') }}">Sobre</a>
            <a href="{{ url_for('identificacao') }}">Chaves</a>
            <a href="{{ url_for('sugestoes') }}">Sugestões</a>
        </nav>
    </header>

    <section class="card">
        <h1>BEM VINDOS!</h1>
        <p>
            Chave de identificação biológica é uma ferramenta utilizada para identificar
            organismos com base em suas características morfológicas, seguindo a classificação
            taxonômica. Existem dois tipos de chaves, as Dicotômicas, e as chaves Interativas,
            nas quais serão utilizadas neste site, devido sua maior flexibilidade.
        </p>
    </section>
</div>

</body>
</html>