<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serpentes-ID SP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aparencia.css') }}">
</head>
<body>

<div class="container-index">
    <header>
        <div class="banner">
            
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('sobre') }}">Sobre</a>
            <a href="{{ url_for('identificacao') }}">Chaves</a>
            <a href="{{ url_for('sugestoes') }}">Sugestões</a>
        </nav>
            
        <div class="container-index">
            <p class="titulo-pagina">Envie suas sugestões para melhorar o site!</p>
<form class="formulario">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome"><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email"><br><br>

    <label for="mensagem">Sua sugestão:</label><br>
    <textarea id="mensagem" rows="5"></textarea><br><br>

    <button type="submit">Enviar Sugestão</button>
</form>
        </div>
        
    </header>